// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-image:url(image-path('top.jpg'));
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 50px);
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  position: relative;
}

.main-container {
  text-align: center;
  margin-top: 100px;
}

.login {
  margin-top: 300px;
}

.button {
  margin-top: 100px;
}

